<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Home</title>
</head>
<body>
  <style>
    button{
      height: auto;
      width: auto;
      font: 15px;
      padding: 5px;
    }
  </style>

  <h1>This is home page</h1>
  <hr>
  <a href="/signup"><button>Signup</button></a>
  <a href="/login"><button>Login</button></a>
</body>
</html>